<h1>Generate an Invoice</h1>

<form action="/invoice/preview" method="get">

  <div class="field">
    <%= label_tag :year_nonth, 'Month' %><br/>
    <%= select_tag "year_month", options_for_select(@months) %>
  </div>
  <div class="actions">
    <%= submit_tag 'Generate Invoice' %>
  </div>
</form>
