/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

div.rhs {
  float: right;
}

div.header {
  background-color: #ddf;
  padding: 0.5em 1em 0.5em 1em;
}

div.header div.title {
  font-size: 3em;
  font-weight: bold;
  padding-bottom: 0.25em;
}

div.header div.title img {
  vertical-align: middle;
}

div.header div.title a:link { text-decoration: none; color: black; background-color: #ddf; }
div.header div.title a:visited { text-decoration: none; color: black; background-color: #ddf; }
div.header div.title a:active { text-decoration: none; color: black; background-color: #ddf; }
div.header div.title a:hover { text-decoration: none; color: black; background-color: #ddf; }

div.nav {
  background-color: #eee;
  padding: 0.5em 1em 0.5em 1em;
}

table {
  border: 1px solid #999;
  border-collapse: collapse;
}
td, th {
  vertical-align: top;
  padding: 3px 3px 3px 3px;
  border: 1px solid #999;
}

label {
  font-weight: bold;
}
